{% extends 'home/base.html' %}
{% load static %}
{% block body_block %}

<link rel="stylesheet" type="text/css" href="{% static 'home/css/registration.css' %}">


   <div class="container">
    <div class="jumbotron">
       <form enctype="multipart/form-data" method="POST" id="review-form">
        <h3 class="text-center">Add Product</h3>
        <h4 class="text-center">Enter details below.</h4>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <button class="btn btn-primary btn-block create-account" type="submit" value="Register">Add Item</button>
        </div>
       </form>
      </div>
    </div>

{% endblock %}
