html {
  background-color: #214c84;
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExa2Z2dGRyNTIyamJnOXhtbWYwcmxwOXZ3MDd1MGIzcDNtMm04dHc1YiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/dalAKBkBak1S8/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.registration-form {
  padding: 50px 0;
}

.registration-form form {
  max-width: 800px;
  padding: 50px 70px;
  border-radius: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.registration-form form h3 {
  font-weight: bold;
  margin-bottom: 30px;
}

.registration-form .item {
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 10px 20px;
}

.registration-form .create-account {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #453fff;
  border: none;
  color: white;
  margin-top: 20px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.form-group {
    margin-bottom: 20px;
}

@media (max-width: 576px) {
  .registration-form form {
    padding: 50px 20px;
  }
}